<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Congratulations</title>
    <link rel="icon" type="image/x-icon" href="/assets/logo.png">
    <link rel="stylesheet" href="/css/confirmation.css" />
  </head>

  <body>
    <div class="alignment">
      <img class="bg-grid" src="\assets\Background pattern.svg" />
      <main>
        <div class="bg-circle left-circle"></div>
        <div class="bg-circle right-circle"></div>
        <div class="logo"><img class='logo-img' src='/assets/logo.png'></div>
        <h1>Your Landing Page<br>is now LIVE!</h1>
        <p>visit your /backlink to access and share</p>
        <a href='/'><button>Home</button></a>
       </main>
    </div>
</body>
</html>