<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WebSailer</title>
    <link rel="icon" type="image/x-icon" href="/assets/logo.png">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <img class="bg-grid" src="\assets\Background pattern.svg">
    <main>
        <div class="bg-circle left-circle"></div>
        <div class="bg-circle right-circle"></div>
        <div class="logo"><img class='logo-img' src='/assets/logo.png'></div>
        <h1>Your Landing Websites<br />in a Single Click</h1>
        <p class="subtext">Give your product a customizable digital<br />space to expand it to the world.</p>
        <form action="<%= redirect %>">
            <button>Get Started</button>
        </form>
    </main>
    <img class="bg-circles" src="\assets\circles_bg.svg">
    <img class="bg-circles-right" src="\assets\circles_bg_right.svg">

    <div class="carousel">
        <div class="carousel-circle"></div>
        <div class="container left_container"></div>
        <div class="container middle_container"></div>
        <div class="container right_container"></div>
    </div>

    <div class="info-section">
        <div class="info color-info">
            <img src="\assets\multiple_icon.svg">
            <p class="title">Multiple Options</p>
            <p class="description">Have multiple options and find the
                best template to fit your needs.</p>
        </div>
        <div class="info transparent-info">
            <img src="\assets\speed_icon.svg">
            <p class="title">Built for speed</p>
            <p class="description">Create landing pages for your products instantly.</p>
        </div>
        <div class="info color-info">
            <img src="\assets\add_link.svg">
            <p class="title">Custom Backlink</p>
            <p class="description">Choose your custom backlink and 
                host it instantly.</p>
        </div>
        <div class="info transparent-info">
            <img src="\assets\share_icon.svg">
            <p class="title">Share</p>
            <p class="description">Share your products around the
                world with style.</p>
        </div>
    </div>

    <div class="bottom">
        <div class="cta">Get Started</div>
        <div class="cta cta-blur">Get Started</div>
        <h1>Make your products reach out</h1>
        <p class="subtext">Give your product a customizable digital<br />space to expand it to the world.</p>
        <form action="/login">
            <button>Get Started</button>
        </form>
    </div>

    <footer>
        <p class="footer-text">Made by Team 7 | WebSaler | SE</p>
    </footer>

</body>

</html>