<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>

  <body>
    <div class="alignment">
      <img class="bg-grid" src="\assets\Background pattern.svg" />
      <main>
        <div class="bg-circle left-circle"></div>
        <div class="bg-circle right-circle"></div>
        <div class="logo"><img class='logo-img' src='/assets/logo.png'></div>
        <h2>Welcome back!</h2>
        <p class="login-text">Login to your account</p>
        <form class="form" action="/login" method="POST">
          <input type="email" placeholder="Email address" name="email" />
          <input type="password" placeholder="Password" name="password" />
          <% if (errorMessage) { %>
              <div class="error"><%= errorMessage %></div>
          <% } %>
          <button class="login-btn" type="submit">Login</button>
        </form>
        <p class="switch">Don’t have an account? <a href="/signup">Sign Up</a></p>
      </main>
    </div>
  </body>
</html>
