<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>SignUp</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>

  <body>
    <div class="alignment">
      <img class="bg-grid" src="\assets\Background pattern.svg" />
      <main>
        <div class="bg-circle left-circle"></div>
        <div class="bg-circle right-circle"></div>
        <div class="logo"></div>
        <h2>Hi, Welcome!</h2>
        <p class="login-text">Sign Up to create an account</p>
        <form class="form" action="/signup" method="POST">
          <input type="text" placeholder="Full name" name="name" />
          <input type="email" placeholder="Email address" name="email" />
          <input type="password" placeholder="Password" name="password" />
          <button class="login-btn" type="submit">Sign Up</button>
        </form>
        <p class="switch">Already have an account? <a href="/login">Log In</a></p>
      </main>
    </div>
  </body>
</html>
