<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/templateOne.css">
</head>
<body>
    <div class="container">

        <div class="header">
            <h2 class="logo">Logo</h2>
            <h2 class="productName">My Product Name</h2>
        </div>

        <div class="main">
            <h1 class="tagline main-item">My Product Tagline</h1>
            <p class="description main-item">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus felis est, mattis sit amet scelerisque eleifend, euismod sit amet nisi. Integer elementum sem sit amet sem faucibus, non euismod velit dapibus. Proin mattis sapien sed ultricies bibendum. Nunc lacinia risus vel nunc hendrerit vestibulum.
            </p>
            <form action="/">
                <button class="login-btn main-item" type="submit">Get Started</button>
            </form>
        </div>

        <div class="images">
            <div class="image image1"><div class='centered-text'>Image</div></div>
            <div class="image image2"><div class='centered-text'>Image</div></div>
            <div class="image image3"><div class='centered-text'>Image</div></div>
        </div>

        <div class="footer">
            
        </div>

    </div>
</body>
</html>