@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Urbanist', sans-serif;
    background-color: #191919;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.header {
    width: 100%;
    height: 62px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #282828;
    box-shadow: 0px 4px 28.8px 0px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main {
    border-radius: 30px;
    background: #282828;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    width: 100%;
    height: 360px;
    flex-shrink: 0;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.images {
    border-radius: 30px;
    background: #282828;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    width: 100%;
    height: 335px;
    flex-shrink: 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.footer {
    border-radius: 30px;
    background: #282828;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    width: 97.8%;
    height: 60px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    margin-left: 45px;
}

.productName {
    color: #C985FF;
    font-size: 25px;
    font-weight: 600;
    margin-right: 45px;
}

.tagline {
    font-size: 72px;
    font-weight: 600;
    background: linear-gradient(159deg, #EEE 24.08%, #8D8D8D 71.75%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    padding: 0;
}

.description {
    color: #D8D8D8;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    width: 828px;
}

button{
    width: 207px;
    height: 56px;
    border-radius: 12px;
    background: linear-gradient(92deg, #C985FF -1.89%, #A839FF 102.06%);
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.main-item {
    margin: 20px;
}

.image-container {
    position: relative;
    width: 100%;
    height: 90%;
}

#container-1 {
    margin-left: 20px;
}

#container-2 {
    margin: 0 20px;
}

#container-3 {
    margin-right: 20px;
}

.image {
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

/* .image {
    height: 90%;
    width: 100%;
    margin-right: 20px;
    border-radius: 15px;
    background-color: #FAF9FF;
    position: relative;
    display: flex;
} */

/* .image1 {
    margin-left: 20px;
    background-image: url('/assets/image_1.png');
    background-size: cover;
}

.image2 {
    background-image: url('/assets/image_2.png');
    background-size: cover;
}

.image3 {
    background-image: url('/assets/image_3.png');
    background-size: cover;
} */

a{
    text-decoration: none;
    color: #fff;
}

.centered-text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    opacity: 1;
    transition: ease 0.2s;
}

.centered-text:hover {
    opacity: 0;
}
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.contact-icon {
    margin: 0 3px;
    width: 71px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #393939;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.contact .phone {
    margin-left: 15px;
}

.username {
    color: #EFEFEF;
    font-size: 18px;
    font-weight: 500;
}

.cta {
    display: flex;
    align-items: center;
    justify-content: center;
}

.websailer-logo {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #D9D9D9;
    margin-right: 10px;
}

.promotion {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}
